<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Consultas</title>
</head>
<body>
<h1>Consultas Agendadas</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Usuário</th>
        <th>Profissional</th>
        <th>Data</th>
        <th>Ações</th>
    </tr>
    <tr th:each="consulta : ${consultas}">
        <td th:text="${consulta.id}"></td>
        <td th:text="${consulta.usuario.cpfUser}"></td>
        <td th:text="${consulta.profissional.registroProfissional}"></td>
        <td th:text="${consulta.dataConsulta}"></td>
        <td>
            <a th:href="@{/consultas/deletar/{cpfUser}/{dataConsulta}(cpfUser=${consulta.usuario.cpfUser}, dataConsulta=${consulta.dataConsulta})}">Deletar</a>
        </td>
    </tr>
</table>
<br>
<a href="/consultas/nova">Nova Consulta</a>
</body>
</html>
